---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"131 S 8th Ave","city":"Manville","zip":"08835","phone":"(202)
        456-1111","name":"NY Warehouse","company":"NY Warehouse","state":"NJ","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfe67bf3004edff19c6002cd392
      Location:
      - "/api/v2/addresses/adr_7bb18433f45411ef87cb3cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb56nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_7bb18433f45411ef87cb3cecef1b359e","object":"Address","created_at":"2025-02-26T15:15:16+00:00","updated_at":"2025-02-26T15:15:16+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 15:15:16 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061df867bf3006edff19ca002cd5f8
      Location:
      - "/api/v2/parcels/prcl_1d687cce435a47d3be459f8aea38f089"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_1d687cce435a47d3be459f8aea38f089","object":"Parcel","created_at":"2025-02-26T15:15:18Z","updated_at":"2025-02-26T15:15:18Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 15:15:18 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_7bb18433f45411ef87cb3cecef1b359e"},"to_address":{"id":"adr_7c5d85acf45411ef829cac1f6bc53342"},"parcel":{"id":"prcl_1d687cce435a47d3be459f8aea38f089"},"is_return":true,"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061df967bf3007edff19e9002cd6ec
      Location:
      - "/api/v2/shipments/shp_4c28e37c57144b55b0a488147c308901"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_4c28e37c57144b55b0a488147c308901","created_at":"2025-02-26T15:15:19Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:15:19Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7bb18433f45411ef87cb3cecef1b359e","object":"Address","created_at":"2025-02-26T15:15:16+00:00","updated_at":"2025-02-26T15:15:16+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_1d687cce435a47d3be459f8aea38f089","object":"Parcel","created_at":"2025-02-26T15:15:18Z","updated_at":"2025-02-26T15:15:18Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_df9e4dd776a047dc8a4df89b2d9fdb00","object":"Rate","created_at":"2025-02-26T15:15:19Z","updated_at":"2025-02-26T15:15:19Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4c28e37c57144b55b0a488147c308901","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_f386530cd05e470f8eaf9cc6ff7e0e90","object":"Rate","created_at":"2025-02-26T15:15:19Z","updated_at":"2025-02-26T15:15:19Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_4c28e37c57144b55b0a488147c308901","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_e523195d8b3649ab97e5ccb53935fdeb","object":"Rate","created_at":"2025-02-26T15:15:19Z","updated_at":"2025-02-26T15:15:19Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_4c28e37c57144b55b0a488147c308901","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_7c5d85acf45411ef829cac1f6bc53342","object":"Address","created_at":"2025-02-26T15:15:17+00:00","updated_at":"2025-02-26T15:15:17+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_7bb18433f45411ef87cb3cecef1b359e","object":"Address","created_at":"2025-02-26T15:15:16+00:00","updated_at":"2025-02-26T15:15:16+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_7c5d85acf45411ef829cac1f6bc53342","object":"Address","created_at":"2025-02-26T15:15:17+00:00","updated_at":"2025-02-26T15:15:17+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 15:15:20 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_4c28e37c57144b55b0a488147c308901/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_df9e4dd776a047dc8a4df89b2d9fdb00"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 69061df967bf3009edff88a0002cd88d
      Content-Type:
      [...]
