---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11867bf2fafedff885e00288e4f
      Location:
      - "/api/v2/addresses/adr_4970eb5ff45411efadaa3cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_4970eb5ff45411efadaa3cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:51+00:00","updated_at":"2025-02-26T15:13:51+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 15:13:52 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11467bf2fb1edff88c100288fdb
      Location:
      - "/api/v2/parcels/prcl_02166ef5fdc74f5996868db4af3b35a2"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb57nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_02166ef5fdc74f5996868db4af3b35a2","object":"Parcel","created_at":"2025-02-26T15:13:53Z","updated_at":"2025-02-26T15:13:53Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 15:13:53 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_4970eb5ff45411efadaa3cecef1b359e"},"from_address":{"id":"adr_4a067c7df45411ef95f4ac1f6bc539aa"},"parcel":{"id":"prcl_02166ef5fdc74f5996868db4af3b35a2"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11367bf2fb2edff8bd7002890bc
      Location:
      - "/api/v2/shipments/shp_9567fd98bea146c4875cc84d5f205189"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_9567fd98bea146c4875cc84d5f205189","created_at":"2025-02-26T15:13:54Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:13:54Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_4a067c7df45411ef95f4ac1f6bc539aa","object":"Address","created_at":"2025-02-26T15:13:52+00:00","updated_at":"2025-02-26T15:13:52+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_02166ef5fdc74f5996868db4af3b35a2","object":"Parcel","created_at":"2025-02-26T15:13:53Z","updated_at":"2025-02-26T15:13:53Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_2c140bab8af54f8c89327986b8264c97","object":"Rate","created_at":"2025-02-26T15:13:55Z","updated_at":"2025-02-26T15:13:55Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9567fd98bea146c4875cc84d5f205189","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_90c2fbfe59c34ce5bd25a3107192e81e","object":"Rate","created_at":"2025-02-26T15:13:55Z","updated_at":"2025-02-26T15:13:55Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_9567fd98bea146c4875cc84d5f205189","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_10a3e28b04d146328399164bc7a1a16e","object":"Rate","created_at":"2025-02-26T15:13:55Z","updated_at":"2025-02-26T15:13:55Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9567fd98bea146c4875cc84d5f205189","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_4970eb5ff45411efadaa3cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:51+00:00","updated_at":"2025-02-26T15:13:51+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_4a067c7df45411ef95f4ac1f6bc539aa","object":"Address","created_at":"2025-02-26T15:13:52+00:00","updated_at":"2025-02-26T15:13:52+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_4970eb5ff45411efadaa3cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:51+00:00","updated_at":"2025-02-26T15:13:51+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 15:13:56 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_9567fd98bea146c4875cc84d5f205189
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 31bba11767bf2fb5edff8bfa0028926d
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_9567fd98bea146c4875cc84d5f205189/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_2c140bab8af54f8c89327986b8264c97"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 31bba11467bf2fb6edff8c1f0028934f
      Content-Type:
      [...]
