---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b5187e0067cef4cdfaf952540024eaef
      Location:
      - "/api/v2/addresses/adr_98839468fdba11efb6feac1f6bc53342"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb59nuq
      X-Version-Label:
      - easypost-202503072339-5203868806-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 324e75def6
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_98839468fdba11efb6feac1f6bc53342","object":"Address","created_at":"2025-03-10T14:18:53+00:00","updated_at":"2025-03-10T14:18:53+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 10 Mar 2025 14:18:53 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"131 S 8th Ave","city":"Manville","zip":"08835","phone":"(202)
        456-1111","name":"NY Warehouse","company":"NY Warehouse","state":"NJ","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b5187dfe67cef4cefaf9525a0024ec49
      Location:
      - "/api/v2/addresses/adr_991b148bfdba11ef9733ac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202503072339-5203868806-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 324e75def6
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_991b148bfdba11ef9733ac1f6bc539ae","object":"Address","created_at":"2025-03-10T14:18:54+00:00","updated_at":"2025-03-10T14:18:54+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Mon, 10 Mar 2025 14:18:55 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"352.74"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b5187dfd67cef4d0faf8c6dc0024ef3f
      Location:
      - "/api/v2/parcels/prcl_dccf35e3162a495397f115eb13c3ee9a"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202503072339-5203868806-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 324e75def6
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_dccf35e3162a495397f115eb13c3ee9a","object":"Parcel","created_at":"2025-03-10T14:18:56Z","updated_at":"2025-03-10T14:18:56Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":352.74,"mode":"test"}'
  recorded_at: Mon, 10 Mar 2025 14:18:56 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_98839468fdba11efb6feac1f6bc53342"},"from_address":{"id":"adr_991b148bfdba11ef9733ac1f6bc539ae"},"parcel":{"id":"prcl_dccf35e3162a495397f115eb13c3ee9a"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - b5187dff67cef4d1faf8c7010024f076
      Location:
      - "/api/v2/shipments/shp_fb29b91cf43342bcb6d4b816eab0214c"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202503072339-5203868806-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 324e75def6
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_fb29b91cf43342bcb6d4b816eab0214c","created_at":"2025-03-10T14:18:57Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-03-10T14:18:57Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_991b148bfdba11ef9733ac1f6bc539ae","object":"Address","created_at":"2025-03-10T14:18:54+00:00","updated_at":"2025-03-10T14:18:54+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_dccf35e3162a495397f115eb13c3ee9a","object":"Parcel","created_at":"2025-03-10T14:18:56Z","updated_at":"2025-03-10T14:18:56Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":352.74,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_368c30c2f95b4ff39dd1c2d50f58ed72","object":"Rate","created_at":"2025-03-10T14:18:57Z","updated_at":"2025-03-10T14:18:57Z","mode":"test","service":"Priority","carrier":"USPS","rate":"20.97","currency":"USD","retail_rate":"29.80","retail_currency":"USD","list_rate":"20.97","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_fb29b91cf43342bcb6d4b816eab0214c","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_3d2b5a9c7840459a97a6b90535220392","object":"Rate","created_at":"2025-03-10T14:18:57Z","updated_at":"2025-03-10T14:18:57Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"18.31","currency":"USD","retail_rate":"26.30","retail_currency":"USD","list_rate":"18.31","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_fb29b91cf43342bcb6d4b816eab0214c","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_117e94a232a040be854b8780ca650050","object":"Rate","created_at":"2025-03-10T14:18:57Z","updated_at":"2025-03-10T14:18:57Z","mode":"test","service":"Express","carrier":"USPS","rate":"73.90","currency":"USD","retail_rate":"84.45","retail_currency":"USD","list_rate":"73.90","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_fb29b91cf43342bcb6d4b816eab0214c","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_98839468fdba11efb6feac1f6bc53342","object":"Address","created_at":"2025-03-10T14:18:53+00:00","updated_at":"2025-03-10T14:18:53+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_991b148bfdba11ef9733ac1f6bc539ae","object":"Address","created_at":"2025-03-10T14:18:54+00:00","updated_at":"2025-03-10T14:18:54+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_98839468fdba11efb6feac1f6bc53342","object":"Address","created_at":"2025-03-10T14:18:53+00:00","updated_at":"2025-03-10T14:18:53+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Mon, 10 Mar 2025 14:18:58 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_fb29b91cf43342bcb6d4b816eab0214c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b5187e0267cef4d3faf8c71a0024f2a1
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_fb29b91cf43342bcb6d4b816eab0214c/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_3d2b5a9c7840459a97a6b90535220392"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - b5187e0067cef4d4faf8c71c0024f417
      Content-Type:
      [...]
[...]
