---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061df767bf2fccedff04c1002c9eb0
      Location:
      - "/api/v2/addresses/adr_5ae7ad83f45411efa2d3ac1f6bc539ae"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb54nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_5ae7ad83f45411efa2d3ac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:14:21+00:00","updated_at":"2025-02-26T15:14:21+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 15:14:21 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061df767bf2fcfedff04e4002ca137
      Location:
      - "/api/v2/parcels/prcl_b083af77bd69468a83a65f8d031e6759"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb41nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_b083af77bd69468a83a65f8d031e6759","object":"Parcel","created_at":"2025-02-26T15:14:23Z","updated_at":"2025-02-26T15:14:23Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 15:14:24 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_5ae7ad83f45411efa2d3ac1f6bc539ae"},"from_address":{"id":"adr_5bad7f49f45411efb7273cecef1b359e"},"parcel":{"id":"prcl_b083af77bd69468a83a65f8d031e6759"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061df967bf2fd1edff07fe002ca410
      Location:
      - "/api/v2/shipments/shp_d161ed2ce10e4b228b0a1d8157379ad3"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb53nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_d161ed2ce10e4b228b0a1d8157379ad3","created_at":"2025-02-26T15:14:25Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:14:25Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5bad7f49f45411efb7273cecef1b359e","object":"Address","created_at":"2025-02-26T15:14:22+00:00","updated_at":"2025-02-26T15:14:22+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b083af77bd69468a83a65f8d031e6759","object":"Parcel","created_at":"2025-02-26T15:14:23Z","updated_at":"2025-02-26T15:14:23Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_f3493d5e5b6a404db78533aeaf837862","object":"Rate","created_at":"2025-02-26T15:14:26Z","updated_at":"2025-02-26T15:14:26Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_d161ed2ce10e4b228b0a1d8157379ad3","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_ea7b3ba618d0483f8401cda72b6b77c7","object":"Rate","created_at":"2025-02-26T15:14:26Z","updated_at":"2025-02-26T15:14:26Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d161ed2ce10e4b228b0a1d8157379ad3","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_fe21d8f7d95b44edbf257cd40e62d814","object":"Rate","created_at":"2025-02-26T15:14:26Z","updated_at":"2025-02-26T15:14:26Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_d161ed2ce10e4b228b0a1d8157379ad3","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_5ae7ad83f45411efa2d3ac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:14:21+00:00","updated_at":"2025-02-26T15:14:21+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_5bad7f49f45411efb7273cecef1b359e","object":"Address","created_at":"2025-02-26T15:14:22+00:00","updated_at":"2025-02-26T15:14:22+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_5ae7ad83f45411efa2d3ac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:14:21+00:00","updated_at":"2025-02-26T15:14:21+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 15:14:29 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_d161ed2ce10e4b228b0a1d8157379ad3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 69061dfc67bf2fd6edfefc45002ca95a
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_d161ed2ce10e4b228b0a1d8157379ad3","created_at":"2025-02-26T15:14:25Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:14:25Z","batch_id":null,"batch_status":null,"batch_message":null,"custo[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_d161ed2ce10e4b228b0a1d8157379ad3/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_fe21d8f7d95b44edbf257cd40e62d814"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 69061dfa67bf2fd7edfefc64002caa70
      Content-Type:
      [...]
