---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"A Different Road","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"NJ","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11467bf2f92edff001d002871f2
      Location:
      - "/api/v2/addresses/adr_37c9dfd4f45411ef9e8bac1f6bc53342"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb56nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_37c9dfd4f45411ef9e8bac1f6bc53342","object":"Address","created_at":"2025-02-26T15:13:22+00:00","updated_at":"2025-02-26T15:13:22+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 15:13:22 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"20.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11667bf2f94edff005d0028754a
      Location:
      - "/api/v2/parcels/prcl_e1de4985135548a88c5ce3e07870f07b"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_e1de4985135548a88c5ce3e07870f07b","object":"Parcel","created_at":"2025-02-26T15:13:24Z","updated_at":"2025-02-26T15:13:24Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 15:13:25 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_37c9dfd4f45411ef9e8bac1f6bc53342"},"from_address":{"id":"adr_387df985f45411ef908aac1f6bc539ae"},"parcel":{"id":"prcl_e1de4985135548a88c5ce3e07870f07b"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11467bf2f96edff00630028774c
      Location:
      - "/api/v2/shipments/shp_69bc3a84e0eb48fdb4a8f4aa2f7331b7"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_69bc3a84e0eb48fdb4a8f4aa2f7331b7","created_at":"2025-02-26T15:13:26Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:13:26Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_387df985f45411ef908aac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:13:23+00:00","updated_at":"2025-02-26T15:13:23+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_e1de4985135548a88c5ce3e07870f07b","object":"Parcel","created_at":"2025-02-26T15:13:24Z","updated_at":"2025-02-26T15:13:24Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_99ba7ed179dc4400a0e5f85eb50bee5b","object":"Rate","created_at":"2025-02-26T15:13:26Z","updated_at":"2025-02-26T15:13:26Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.12","currency":"USD","retail_rate":"10.50","retail_currency":"USD","list_rate":"8.44","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_69bc3a84e0eb48fdb4a8f4aa2f7331b7","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_2b22ca6eab2148aea18abebc0bedd36c","object":"Rate","created_at":"2025-02-26T15:13:26Z","updated_at":"2025-02-26T15:13:26Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"6.14","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.50","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_69bc3a84e0eb48fdb4a8f4aa2f7331b7","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_8c3894f1772f43c18899ca0c696a8c2f","object":"Rate","created_at":"2025-02-26T15:13:26Z","updated_at":"2025-02-26T15:13:26Z","mode":"test","service":"Express","carrier":"USPS","rate":"28.00","currency":"USD","retail_rate":"32.45","retail_currency":"USD","list_rate":"28.00","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_69bc3a84e0eb48fdb4a8f4aa2f7331b7","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_37c9dfd4f45411ef9e8bac1f6bc53342","object":"Address","created_at":"2025-02-26T15:13:22+00:00","updated_at":"2025-02-26T15:13:22+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_387df985f45411ef908aac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:13:23+00:00","updated_at":"2025-02-26T15:13:23+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_37c9dfd4f45411ef9e8bac1f6bc53342","object":"Address","created_at":"2025-02-26T15:13:22+00:00","updated_at":"2025-02-26T15:13:22+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 15:13:26 GMT
recorded_with: VCR 6.3.1
