---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"131 S 8th Ave","city":"Manville","zip":"08835","phone":"(202)
        456-1111","name":"NY Warehouse","company":"NY Warehouse","state":"NJ","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061df867bf2f84edfefb3b002c5c3e
      Location:
      - "/api/v2/addresses/adr_2f863e0cf45411ef9f183cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb59nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_2f863e0cf45411ef9f183cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:08+00:00","updated_at":"2025-02-26T15:13:08+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 15:13:08 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfa67bf2f87edff005d002c5efe
      Location:
      - "/api/v2/parcels/prcl_b999b107f39c4f4f8362d4a66eef7062"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb34nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_b999b107f39c4f4f8362d4a66eef7062","object":"Parcel","created_at":"2025-02-26T15:13:11Z","updated_at":"2025-02-26T15:13:11Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 15:13:11 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"from_address":{"id":"adr_2f863e0cf45411ef9f183cecef1b359e"},"to_address":{"id":"adr_301b4d04f45411ef8778ac1f6bc539aa"},"parcel":{"id":"prcl_b999b107f39c4f4f8362d4a66eef7062"},"is_return":true,"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11a67bf2f89edf1e870002867d0
      Location:
      - "/api/v2/shipments/shp_3228eb16305d48f29403adcbc3978e3d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb38nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_3228eb16305d48f29403adcbc3978e3d","created_at":"2025-02-26T15:13:13Z","is_return":true,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:13:13Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2f863e0cf45411ef9f183cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:08+00:00","updated_at":"2025-02-26T15:13:08+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b999b107f39c4f4f8362d4a66eef7062","object":"Parcel","created_at":"2025-02-26T15:13:11Z","updated_at":"2025-02-26T15:13:11Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_6c1497ad61964450a49a142a8f37d3b1","object":"Rate","created_at":"2025-02-26T15:13:13Z","updated_at":"2025-02-26T15:13:13Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_3228eb16305d48f29403adcbc3978e3d","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_febab173fa4d4ab19ccab18e38205586","object":"Rate","created_at":"2025-02-26T15:13:13Z","updated_at":"2025-02-26T15:13:13Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3228eb16305d48f29403adcbc3978e3d","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_2b280137d6974a5ca930eb0d7db1a9ee","object":"Rate","created_at":"2025-02-26T15:13:13Z","updated_at":"2025-02-26T15:13:13Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_3228eb16305d48f29403adcbc3978e3d","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_301b4d04f45411ef8778ac1f6bc539aa","object":"Address","created_at":"2025-02-26T15:13:09+00:00","updated_at":"2025-02-26T15:13:09+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_2f863e0cf45411ef9f183cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:08+00:00","updated_at":"2025-02-26T15:13:08+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_301b4d04f45411ef8778ac1f6bc539aa","object":"Address","created_at":"2025-02-26T15:13:09+00:00","updated_at":"2025-02-26T15:13:09+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 15:13:13 GMT
recorded_with: VCR 6.3.1
