---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"A Different Road","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"NJ","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfa67bf2f7fedfef7bc002c56de
      Location:
      - "/api/v2/addresses/adr_2c97b836f45411ef9d3b3cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_2c97b836f45411ef9d3b3cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:03+00:00","updated_at":"2025-02-26T15:13:03+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 15:13:03 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"20.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfa67bf2f81edfef821002c58b9
      Location:
      - "/api/v2/parcels/prcl_c9379bbc547448cc8233cb08e4501a9e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb39nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_c9379bbc547448cc8233cb08e4501a9e","object":"Parcel","created_at":"2025-02-26T15:13:05Z","updated_at":"2025-02-26T15:13:05Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 15:13:05 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_2c97b836f45411ef9d3b3cecef1b359e"},"from_address":{"id":"adr_2d28b5d5f45411ef8977ac1f6bc539ae"},"parcel":{"id":"prcl_c9379bbc547448cc8233cb08e4501a9e"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfd67bf2f82edfef825002c59d2
      Location:
      - "/api/v2/shipments/shp_cfe55b2d5ec747a09487c54a82ef2a34"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_cfe55b2d5ec747a09487c54a82ef2a34","created_at":"2025-02-26T15:13:06Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:13:06Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_2d28b5d5f45411ef8977ac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:13:04+00:00","updated_at":"2025-02-26T15:13:04+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c9379bbc547448cc8233cb08e4501a9e","object":"Parcel","created_at":"2025-02-26T15:13:05Z","updated_at":"2025-02-26T15:13:05Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":20.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_a866b0c3e577441abd1c37f46b1fbb8d","object":"Rate","created_at":"2025-02-26T15:13:06Z","updated_at":"2025-02-26T15:13:06Z","mode":"test","service":"Express","carrier":"USPS","rate":"28.00","currency":"USD","retail_rate":"32.45","retail_currency":"USD","list_rate":"28.00","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_cfe55b2d5ec747a09487c54a82ef2a34","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_33dfcffcf7fc4f65a7ea489307dc8f8d","object":"Rate","created_at":"2025-02-26T15:13:06Z","updated_at":"2025-02-26T15:13:06Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.12","currency":"USD","retail_rate":"10.50","retail_currency":"USD","list_rate":"8.44","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_cfe55b2d5ec747a09487c54a82ef2a34","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d168b3c32c224372a1bb237e9690ed49","object":"Rate","created_at":"2025-02-26T15:13:06Z","updated_at":"2025-02-26T15:13:06Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"6.14","currency":"USD","retail_rate":"9.45","retail_currency":"USD","list_rate":"7.50","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_cfe55b2d5ec747a09487c54a82ef2a34","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_2c97b836f45411ef9d3b3cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:03+00:00","updated_at":"2025-02-26T15:13:03+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_2d28b5d5f45411ef8977ac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:13:04+00:00","updated_at":"2025-02-26T15:13:04+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_2c97b836f45411ef9d3b3cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:03+00:00","updated_at":"2025-02-26T15:13:03+00:00","name":"John
        Von Doe","company":"Company","street1":"A Different Road","street2":"Northwest","city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 15:13:07 GMT
recorded_with: VCR 6.3.1
