---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11567bf2f9fedf1e89300288062
      Location:
      - "/api/v2/addresses/adr_3fad0ba6f45411efa8843cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_3fad0ba6f45411efa8843cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:35+00:00","updated_at":"2025-02-26T15:13:35+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 15:13:35 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11567bf2fa1edf1ebc8002882c6
      Location:
      - "/api/v2/parcels/prcl_34cdec7a972942a0ab8820b285b2d05f"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb40nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_34cdec7a972942a0ab8820b285b2d05f","object":"Parcel","created_at":"2025-02-26T15:13:37Z","updated_at":"2025-02-26T15:13:37Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 15:13:37 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_3fad0ba6f45411efa8843cecef1b359e"},"from_address":{"id":"adr_404f9e1cf45411efa369ac1f6bc53342"},"parcel":{"id":"prcl_34cdec7a972942a0ab8820b285b2d05f"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 31bba11667bf2fa2edf1ebe5002883c3
      Location:
      - "/api/v2/shipments/shp_5bb047bdc2a941eb999bf6c4c9be2b40"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb35nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb1nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_5bb047bdc2a941eb999bf6c4c9be2b40","created_at":"2025-02-26T15:13:38Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:13:38Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_404f9e1cf45411efa369ac1f6bc53342","object":"Address","created_at":"2025-02-26T15:13:36+00:00","updated_at":"2025-02-26T15:13:36+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_34cdec7a972942a0ab8820b285b2d05f","object":"Parcel","created_at":"2025-02-26T15:13:37Z","updated_at":"2025-02-26T15:13:37Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_8530632429a04da29328e6c0c906bf3b","object":"Rate","created_at":"2025-02-26T15:13:38Z","updated_at":"2025-02-26T15:13:38Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_5bb047bdc2a941eb999bf6c4c9be2b40","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_5e72612eae694275b6e9e1578e66fc4f","object":"Rate","created_at":"2025-02-26T15:13:38Z","updated_at":"2025-02-26T15:13:38Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_5bb047bdc2a941eb999bf6c4c9be2b40","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_f396180d4daa48a7aed8f215c23516a5","object":"Rate","created_at":"2025-02-26T15:13:38Z","updated_at":"2025-02-26T15:13:38Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_5bb047bdc2a941eb999bf6c4c9be2b40","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_3fad0ba6f45411efa8843cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:35+00:00","updated_at":"2025-02-26T15:13:35+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_404f9e1cf45411efa369ac1f6bc53342","object":"Address","created_at":"2025-02-26T15:13:36+00:00","updated_at":"2025-02-26T15:13:36+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_3fad0ba6f45411efa8843cecef1b359e","object":"Address","created_at":"2025-02-26T15:13:35+00:00","updated_at":"2025-02-26T15:13:35+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 15:13:38 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_5bb047bdc2a941eb999bf6c4c9be2b40
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 31bba11467bf2fa4edf1ec0c00288523
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_5bb047bdc2a941eb999bf6c4c9be2b40/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_5e72612eae694275b6e9e1578e66fc4f"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 31bba11667bf2fa6edff1524002887d0
      Content-Type:
      [...]
[...]
