---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061df867bf2ff3edfef73c002cc1d9
      Location:
      - "/api/v2/addresses/adr_71a99010f45411ef81fd3cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb36nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_71a99010f45411ef81fd3cecef1b359e","object":"Address","created_at":"2025-02-26T15:14:59+00:00","updated_at":"2025-02-26T15:14:59+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 15:14:59 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061df967bf2ff6edf1ec4e002cc46e
      Location:
      - "/api/v2/parcels/prcl_70da33499e114a69967817dda0192332"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb57nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_70da33499e114a69967817dda0192332","object":"Parcel","created_at":"2025-02-26T15:15:02Z","updated_at":"2025-02-26T15:15:02Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 15:15:02 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_71a99010f45411ef81fd3cecef1b359e"},"from_address":{"id":"adr_72ec611df45411efab09ac1f6bc539aa"},"parcel":{"id":"prcl_70da33499e114a69967817dda0192332"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfd67bf2ff7edf1ec8a002cc577
      Location:
      - "/api/v2/shipments/shp_e7c57d7bd06640dc92015aafbee75b15"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb43nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Canary:
      - direct
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_e7c57d7bd06640dc92015aafbee75b15","created_at":"2025-02-26T15:15:03Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:15:03Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_72ec611df45411efab09ac1f6bc539aa","object":"Address","created_at":"2025-02-26T15:15:01+00:00","updated_at":"2025-02-26T15:15:01+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_70da33499e114a69967817dda0192332","object":"Parcel","created_at":"2025-02-26T15:15:02Z","updated_at":"2025-02-26T15:15:02Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_c1675901fbde43288419355e8475dca0","object":"Rate","created_at":"2025-02-26T15:15:03Z","updated_at":"2025-02-26T15:15:03Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e7c57d7bd06640dc92015aafbee75b15","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_ec215359796b4f269b5c01126c594ff5","object":"Rate","created_at":"2025-02-26T15:15:03Z","updated_at":"2025-02-26T15:15:03Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_e7c57d7bd06640dc92015aafbee75b15","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_e59e83b86d484390a16a8bbc47a7d16d","object":"Rate","created_at":"2025-02-26T15:15:03Z","updated_at":"2025-02-26T15:15:03Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_e7c57d7bd06640dc92015aafbee75b15","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_71a99010f45411ef81fd3cecef1b359e","object":"Address","created_at":"2025-02-26T15:14:59+00:00","updated_at":"2025-02-26T15:14:59+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_72ec611df45411efab09ac1f6bc539aa","object":"Address","created_at":"2025-02-26T15:15:01+00:00","updated_at":"2025-02-26T15:15:01+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_71a99010f45411ef81fd3cecef1b359e","object":"Address","created_at":"2025-02-26T15:14:59+00:00","updated_at":"2025-02-26T15:14:59+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 15:15:03 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_e7c57d7bd06640dc92015aafbee75b15
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 69061df967bf2ff9edf1ecab002cc6db
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments/shp_e7c57d7bd06640dc92015aafbee75b15/buy
    body:
      encoding: UTF-8
      string: '{"rate":{"id":"rate_c1675901fbde43288419355e8475dca0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 69061df967bf2ffaedf1ecce002cc7e1
      Content-Type:
      [...]
