---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfe67bf2f6cedff19a9002c487e
      Location:
      - "/api/v2/addresses/adr_21863e97f45411ef96813cecef1b359e"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb55nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_21863e97f45411ef96813cecef1b359e","object":"Address","created_at":"2025-02-26T15:12:44+00:00","updated_at":"2025-02-26T15:12:44+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 15:12:45 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfd67bf2f6fedff19c6002c4ab5
      Location:
      - "/api/v2/parcels/prcl_6f6f1b7ea99140b3b180edd2fcf26afc"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb59nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_6f6f1b7ea99140b3b180edd2fcf26afc","object":"Parcel","created_at":"2025-02-26T15:12:47Z","updated_at":"2025-02-26T15:12:47Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 15:12:48 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_21863e97f45411ef96813cecef1b359e"},"from_address":{"id":"adr_225f385cf45411ef8318ac1f6bc539ae"},"parcel":{"id":"prcl_6f6f1b7ea99140b3b180edd2fcf26afc"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfe67bf2f71edff19e5002c4c4c
      Location:
      - "/api/v2/shipments/shp_046c2a2cf9084f8c9b210331a423359d"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb58nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_046c2a2cf9084f8c9b210331a423359d","created_at":"2025-02-26T15:12:49Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:12:49Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_225f385cf45411ef8318ac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:12:46+00:00","updated_at":"2025-02-26T15:12:46+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_6f6f1b7ea99140b3b180edd2fcf26afc","object":"Parcel","created_at":"2025-02-26T15:12:47Z","updated_at":"2025-02-26T15:12:47Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_1e4c4f8276f14099a3028ffcd38225d4","object":"Rate","created_at":"2025-02-26T15:12:50Z","updated_at":"2025-02-26T15:12:50Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_046c2a2cf9084f8c9b210331a423359d","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_0565b50e514e49d286c99668ad6b37fb","object":"Rate","created_at":"2025-02-26T15:12:50Z","updated_at":"2025-02-26T15:12:50Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_046c2a2cf9084f8c9b210331a423359d","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_d8a6212aeb0a4226ad8c1400f949c508","object":"Rate","created_at":"2025-02-26T15:12:50Z","updated_at":"2025-02-26T15:12:50Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_046c2a2cf9084f8c9b210331a423359d","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_21863e97f45411ef96813cecef1b359e","object":"Address","created_at":"2025-02-26T15:12:44+00:00","updated_at":"2025-02-26T15:12:44+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_225f385cf45411ef8318ac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:12:46+00:00","updated_at":"2025-02-26T15:12:46+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_21863e97f45411ef96813cecef1b359e","object":"Address","created_at":"2025-02-26T15:12:44+00:00","updated_at":"2025-02-26T15:12:44+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 15:12:50 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_046c2a2cf9084f8c9b210331a423359d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 69061df767bf2f73edf1f089002c4dd3
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
