---
http_interactions:
- request:
    method: post
    uri: https://api.easypost.com/v2/addresses
    body:
      encoding: UTF-8
      string: '{"street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","zip":"08835","phone":"555-555-0199","company":"Company","name":"John
        Von Doe","state":"AL","country":"US"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfd67bf2f75edf1f091002c4f0e
      Location:
      - "/api/v2/addresses/adr_268e6247f45411ef9484ac1f6bc53342"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb56nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"adr_268e6247f45411ef9484ac1f6bc53342","object":"Address","created_at":"2025-02-26T15:12:53+00:00","updated_at":"2025-02-26T15:12:53+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
  recorded_at: Wed, 26 Feb 2025 15:12:53 GMT
[...]
- request:
    method: post
    uri: https://api.easypost.com/v2/parcels
    body:
      encoding: UTF-8
      string: '{"parcel":{"weight":"10.0"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061df967bf2f77edf1f0cf002c5118
      Location:
      - "/api/v2/parcels/prcl_b89d44a346974748a77a9e0807106a85"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb54nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb4nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"prcl_b89d44a346974748a77a9e0807106a85","object":"Parcel","created_at":"2025-02-26T15:12:55Z","updated_at":"2025-02-26T15:12:55Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"}'
  recorded_at: Wed, 26 Feb 2025 15:12:56 GMT
- request:
    method: post
    uri: https://api.easypost.com/v2/shipments
    body:
      encoding: UTF-8
      string: '{"shipment":{"to_address":{"id":"adr_268e6247f45411ef9484ac1f6bc53342"},"from_address":{"id":"adr_273aea87f45411ef8622ac1f6bc539ae"},"parcel":{"id":"prcl_b89d44a346974748a77a9e0807106a85"},"options":{}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 201
      message: Created
    headers:
      X-Ep-Request-Uuid:
      - 69061dfc67bf2f78edf1f0ee002c51bc
      Location:
      - "/api/v2/shipments/shp_6a31998a7e0e47e5bb5734b2b3b7fade"
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - bigweb33nuq
      X-Version-Label:
      - easypost-202502252235-2ae08e8562-master
      X-Backend:
      - easypost
      X-Proxied:
      - extlb2nuq 99aac35317
      - intlb3nuq 51d74985a2
    body:
      encoding: ASCII-8BIT
      string: '{"id":"shp_6a31998a7e0e47e5bb5734b2b3b7fade","created_at":"2025-02-26T15:12:56Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2025-02-26T15:12:56Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_273aea87f45411ef8622ac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:12:54+00:00","updated_at":"2025-02-26T15:12:54+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_b89d44a346974748a77a9e0807106a85","object":"Parcel","created_at":"2025-02-26T15:12:55Z","updated_at":"2025-02-26T15:12:55Z","length":null,"width":null,"height":null,"predefined_package":null,"weight":10.0,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_42ababc5804144118fba924c00d31d34","object":"Rate","created_at":"2025-02-26T15:12:56Z","updated_at":"2025-02-26T15:12:56Z","mode":"test","service":"Express","carrier":"USPS","rate":"27.60","currency":"USD","retail_rate":"31.95","retail_currency":"USD","list_rate":"27.60","list_currency":"USD","billing_type":"easypost","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_6a31998a7e0e47e5bb5734b2b3b7fade","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_1e7cdec9678549aa9940f0b2ee7168b2","object":"Rate","created_at":"2025-02-26T15:12:56Z","updated_at":"2025-02-26T15:12:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"6.54","currency":"USD","retail_rate":"9.35","retail_currency":"USD","list_rate":"7.99","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6a31998a7e0e47e5bb5734b2b3b7fade","carrier_account_id":"ca_mtb51Ve0"},{"id":"rate_5bb3233e14bb4f958c9a22e6842ebc8c","object":"Rate","created_at":"2025-02-26T15:12:56Z","updated_at":"2025-02-26T15:12:56Z","mode":"test","service":"GroundAdvantage","carrier":"USPS","rate":"5.00","currency":"USD","retail_rate":"6.75","retail_currency":"USD","list_rate":"5.00","list_currency":"USD","billing_type":"easypost","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_6a31998a7e0e47e5bb5734b2b3b7fade","carrier_account_id":"ca_mtb51Ve0"}],"refund_status":null,"scan_form":null,"selected_rate":null,"tracker":null,"to_address":{"id":"adr_268e6247f45411ef9484ac1f6bc53342","object":"Address","created_at":"2025-02-26T15:12:53+00:00","updated_at":"2025-02-26T15:12:53+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"usps_zone":1,"return_address":{"id":"adr_273aea87f45411ef8622ac1f6bc539ae","object":"Address","created_at":"2025-02-26T15:12:54+00:00","updated_at":"2025-02-26T15:12:54+00:00","name":"NY
        Warehouse","company":"NY Warehouse","street1":"131 S 8th Ave","street2":null,"city":"Manville","state":"NJ","zip":"08835","country":"US","phone":"2024561111","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_268e6247f45411ef9484ac1f6bc53342","object":"Address","created_at":"2025-02-26T15:12:53+00:00","updated_at":"2025-02-26T15:12:53+00:00","name":"John
        Von Doe","company":"Company","street1":"215 N 7th Ave","street2":"Northwest","city":"Manville","state":"AL","zip":"08835","country":"US","phone":"5555550199","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"forms":[],"fees":[],"object":"Shipment"}'
  recorded_at: Wed, 26 Feb 2025 15:12:57 GMT
- request:
    method: get
    uri: https://api.easypost.com/v2/shipments/shp_6a31998a7e0e47e5bb5734b2b3b7fade
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer CvzYtuda6KRI9JjG7SAHbA
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ep-Request-Uuid:
      - 69061dfc67bf2f7aedf1f0f0002c52f5
      Content-Type:
      - application/json; charset=utf-8
      X-Node:
      - b[...]
